/* Custom Form Styles */
.custom-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 80 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.custom-input {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

.custom-input:focus {
  border-color: #007bff;
  background-color: #fff;
  outline: none;
}

.google-oauth-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: #db4437; /* Google Red */
  color: #fff;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.google-oauth-button:hover {
  background-color: #c1351d;
}

.google-oauth-button img {
  margin-right: 10px;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 1.1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

button:hover:enabled {
  background-color: #0056b3;
}

.format-message.error {
  color: #d9534f;
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;
}

p {
  font-size: 1rem;
  color: #666;
  text-align: center;
}

p a {
  color: #007bff;
  text-decoration: none;
  transition: 0.3s;
}

p a:hover {
  text-decoration: underline;
}
